---
import type { Playlist } from "../lib/data.ts";
import GreenButton from "./greenButton"; // Verifica que esta ruta sea correcta
import { fade } from 'astro:transitions';

interface MainCardProps {
    playlist: Playlist;
}

const { playlist } = Astro.props as MainCardProps;
const { id, cover, title } = playlist;
---
<article class="bg-white/10 hover:bg-white/25 rounded-md">
<div class="relative flex  space-x-4 items-center rounded-md w-[20rem] group">
    <a href={`/playlist/${id}`} class="flex-grow flex items-center space-x-4">
        <div class="relative max-w-16 max-h-16">
            <img transition:animate={fade({duration: "0.5s"})} transition:name={`playlist ${id} image`} src={cover} alt={`Cover of ${title}`} class="rounded-bl-md rounded-tl-md"/>
        </div>
        <div class="flex-grow">
            <h4 class="text-white font-bold">{title}</h4>
        </div>
    </a>
    <div class="absolute right-2 z-10">
        <GreenButton id={id} className="opacity-0 group-hover:opacity-100 duration-600" client:visible/>
    </div>
</div>
</article>